<!-- DO NOT REMOVE THE FOLLOWING COMMENT -->
<!-- (c) Copyright 2014 Caroline Hill. All Rights Reserved. Contact Mlle Caroline Schnapp at mllegeorgesand@gmail.com -->
<!-- DO NOT REMOVE THE ABOVE COMMENT -->

{% if linklists.gift-wrapping.links.size > 0  %}

  <h3 class="h4">ギフトラッピングをご用意しています。</h3>
  {% for link in linklists.gift-wrapping.links %}
    <div id="is-a-gift" style="clear: left; margin: 30px 0" class="clearfix rte">
      <input type="hidden" name="attributes[{{link.object.handle}}]" value="" />
      <input id="{{link.object.handle}}" type="checkbox" class="gift-wrapping-option" data-handle="{{link.object.handle}}" data-variant="{{link.object.variants.first.id}}" name="attributes[{{link.object.handle}}]" value="yes" {% if cart.attributes[link.object.handle] %} checked="checked"{% endif %} style="float: none" />
      <label for="{{link.object.handle}}" style="display:inline; padding-left: 5px; float: none;">
        {{ link.object.title }} {{ link.object.price | money}} + 税
      </label>
    </div>
  {% endfor %}

{% assign id = linklists.gift-wrapping.links.first.object.variants.first.id %}

<script>

Shopify.Cart = Shopify.Cart || {};

Shopify.Cart.GiftWrap = {};

Shopify.Cart.GiftWrap.set = function(variant_id) {
  jQuery.ajax({
    type: 'POST',
    url: '/cart/add.js',
    data: {
      items: [
        {quantity: 1, id: variant_id}
      ]
    },
    dataType: 'json',
    success: function() {
      location.href = '/cart';
    }
  })
}

// When the gift-wrapping checkbox is checked or unchecked.
jQuery(function() {
  jQuery('.gift-wrapping-option').change(function() {
    if (jQuery(this).is(':checked')) {
      Shopify.Cart.GiftWrap.set(this.dataset.variant, this.dataset.handle);
    }
    else {
      Shopify.Cart.GiftWrap.remove(this.dataset.variant, this.dataset.handle);
    }
  });
});

</script>

{% else %}

<p style="clear: left; margin: 30px 0" class="rte">
  You attempted to add a gift-wrapping script to your shopping cart, but it won't work because you don't have
  a link list with handle <code>gift-wrapping</code> which, in turn, contains a link
  to your gift-wrapping product. Please review the steps outlined
  <a href="http://docs.shopify.com/manual/configuration/store-customization/page-specific/cart-page/add-a-gift-wrap-option">here</a>.
</p>

{% endif %}
